body
{
    padding: 0;
    margin: 0;
    background-color: rgb(222, 199, 147);
}
.menu
{
  text-align: left;
}
.menu ul{
    display: inline-flex;
    list-style: none;
}
.menu ul li
{
  margin: 25px;
  position: relative;
}
.menu ul li a 
{
     padding: 8px; 
    color: #800000;
    font-size: 27px;
    text-decoration: none;
    border-bottom: 2px solid #000;
    border-radius: 20px;
    position: relative;
}
.seach
{
  top: 24px;
  right: 20px;
  position: absolute;

}
.seach input 
{
  font-size: 25px;
 border: 1px solid #800;
 margin: 8px;
 padding: 8px;
 border-radius: 10px;
 color: #000;
}
.content h2
{
 font-size: 60px; 
    color:#fff;
    margin-left: 8%;
    margin-top:4%;
    text-align: left;
}
.content b 
{
 color: #800000;
 font-size: 100px;
}
.content p
{
 text-align: left;
 font-size: 32px;
 margin-left: 60px;
 margin-top: -3px;
 color: #000;
}
.photo 
{
  width: 50%;
  float: right;
}
.photo img 
{
  width: 60%;
  margin-top:  -500px;
  margin-left: 70px;
  border-radius: 10%;
}
.font
{
    right: 40px;
    bottom: 45px;
    position:absolute;
}
.font ul i
{
    list-style: none;
    margin-top: 15px;
    text-align: center;    
}
.font ul a i
{
    font-size: 20px;
    color: #000;
    border: 3px solid #800;
    border-radius: 50%;
    display: block;
    text-decoration: none;
    padding: 10px;
}
.font ul
{ 
    list-style: none;   
}
.button
{
    position: absolute;
    top: 93%;
    left: 20%;
    transform: translate(-50%,-50%);    
}

.btn
{
    border: 3px solid #800;
    padding: 20px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    color: #000;
}
.menu ul li a:hover 
{
    color: #000;
}

.content b:hover
{
    text-shadow: 14px 14px 14px #800000;
}
.btn:hover
{
    background: #800000;
}
.font ul a i:hover
{
 background: #800000;
}
.content d
{
    color: #000;
}
.content d:hover
{
    text-shadow: 14px 14px 14px #000;
}
em
{
    color: #800;
    font-size: 70px;
}